<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringHibernateJpaApplication-Local Profile" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <option name="ALTERNATIVE_JRE_PATH" value="temurin-17" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <module name="spring-hibernate-jpa.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.smitty.spring.guru.jpa.SpringHibernateJpaApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>